dist: trusty

language: go
go:
  - "1.11.x"
env:
  - GO111MODULE=on
install:
  - gem install pdd
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | sh -s v1.14.0
  - GO111MODULE=off go get github.com/comcast/weasel
jobs:
  include:
  - if: (type = pull_request) OR (type = push AND branch = master)
    script: make checks && 
            bash <(curl -s https://codecov.io/bash)
  - if: tag IS present
    script: make checks && 
            bash <(curl -s https://codecov.io/bash) && 
            make release
